:root{
    --bg-color:#191970;
}
.bg-tema-principal{
    background-color: var(--bg-color);
}
/* img:hover:not(:hover){
    opacity: 0.3;
}
img:hover{
    cursor: pointer;
    scale: 1.01;
} */


/* .row:hover .card:not(:hover){
    cursor: pointer;
    opacity: .3;
    filter: grayscale(1);
} */

.card:hover{
    cursor: pointer;
    scale: 1.01;
}
.btn:hover{
    border: 1px solid var(--bg-color);
}
.fa-brands{
    color: #fff;
}
.fa-brands:hover{
    scale: 1.5;
}
.fa-youtube:hover{
    color:#c4302b;
}
.fa-twitter:hover{
    color:#00ACEE ;
}
.text:hover{
    background: linear-gradient(45deg, #fed373 20%,
    #f15245,
    #d92e7f,
    #515ecf);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fa-facebook:hover{
    color: #3B5998;

}