:root{
    --bg-color:#191970;
}
.bg-tema-principal{
    background-color: var(--bg-color);
}
/* img:hover:not(:hover){
    opacity: 0.3;
}
img:hover{
    cursor: pointer;
    scale: 1.01;
} */


.row:hover .card:not(:hover){
    cursor: pointer;
    /* opacity: .3; */
    filter: grayscale(1);
}

.card:hover{
    cursor: pointer;
    scale: 1.03;
}